*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a{
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover{
    text-decoration: underline;
}

.header_right{
     margin-left: 1130px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
    
}
.header_right img{
    margin-right: 10px;
    cursor: pointer;
}
.header_app{
    cursor: pointer;
}
/* MainBody */
.mainBody{
    flex: 1;
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    margin-right: 46px;
    margin-top: 32px;
    margin-bottom: -42px;
}

.mainBody img{
    object-fit: contain;
    height: 250px;
}

.search{
    margin-bottom: 23%;
}

.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 20px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 55vw;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 560px;
}

.search_input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_input .material-icons{
    color: gray;
}




